<div class="jumbotron">
    <h1 class="text-center">Bienvenido a tu banco</h1>
    <p></p>
    <div class="row">
        <div class="my-5 mx-auto col-md-4">
            <a class="btn btn-primary btn-lg btn-block" role="button" routerLink="/destinatario">Nuevo destinatario</a>
        </div>
        <div class="my-5 mx-auto col-md-4">
            <a class="btn btn-primary btn-lg btn-block" role="button" routerLink="/transferencia">Transferir</a>
        </div>
        <div class="my-5 mx-auto col-md-4">
            <a class="btn btn-primary btn-lg btn-block" role="button" routerLink="/historial">Historial</a>
        </div>
    </div>
</div>